<h1>Nouvelle candidature reçue</h1>
    <p>Une nouvelle candidature a été reçue :</p>
    <ul>
      <li><strong>Nom :</strong> {{first_name}}</li>
      <li><strong>Prénom :</strong> {{last_name}}</li>
      <li><strong>Email :</strong> {{email}}</li>
      <li><strong>Message :</strong> {{message}}</li>
    </ul>
    <p>Merci de prendre les mesures appropriées.</p>`
