<h1>Félicitations ! Votre candidature est acceptée</h1>
<p>Cher(e) {{first_name}} {{last_name}},</p>
<p>Nous sommes ravis de vous informer que votre candidature pour rejoindre l'équipe VictoryZone a été acceptée. Votre profil et vos compétences correspondent parfaitement à nos attentes et nous sommes convaincus que vous apporterez une contribution précieuse à notre entreprise.</p>
<p>Nous vous félicitons pour votre réussite dans le processus de sélection et nous sommes impatients de vous accueillir parmi nous.</p>
<p>Voici les détails importants concernant votre poste :</p>
<p> {{reviewer_comment}} </p>
<p>Un membre de notre équipe vous contactera prochainement pour finaliser les détails administratifs et vous fournir toutes les informations nécessaires pour votre intégration.</p>
<p>Encore une fois, félicitations pour cette réussite et bienvenue dans l'équipe VictoryZone !</p>
<p>Cordialement,</p>
<p>L'équipe VictoryZone</p>
<p>La Direction</p>
