<h1>Refus de votre candidature</h1>
<p>Cher(e) {{first_name}} {{last_name}},</p>
<p>Nous vous remercions d'avoir postulé pour rejoindre l'équipe VictoryZone. Après avoir soigneusement examiné votre candidature, nous regrettons de vous informer que nous n'avons pas retenu votre profil pour le poste.</p>
<p> {{reviewer_comment}} </p>
<p>Nous vous souhaitons beaucoup de succès dans vos futures démarches professionnelles.</p>
<p>Cordialement,</p>
<p>L'équipe VictoryZone</p>
<p>La Direction</p>
