 <h1>Merci de nous avoir contacter</h1>
  <p>Cher(e) {{first_name}} {{last_name}},</p>
  <p>Voici le message que vous nous avez envoyer</p>
  <ul>
    <li><strong>Message :</strong> {{message}}</li>
  <p>nous vous contacterons prochainement.</p>
