<h1>Nouvelle candidature reçue</h1>
    <p>Une nouvelle candidature a été reçue :</p>
    <ul>
      <li><strong>Nom :</strong> {{firstName}}</li>
      <li><strong>Email :</strong> {{email}}</li>
      <li><strong>Prénom :</strong> {{lastName}}</li>
    </ul>
    <p>Merci de prendre les mesures appropriées.</p>`
